<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .wrapper{
            display: grid;
            grid-template-columns: 40% 30% 30%;
           /* grid-column-gap: 1em;
            grid-row-gap: 1em;*/
            grid-gap: 1em;
        }

        .wrapper > div{
            background:#eee;
            padding: 1em;
        }
        .wrapper > div:nth-child(odd){
            background:#ddd;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aliquam corporis distinctio eaque enim fugit laborum magnam neque nesciunt nostrum nulla officia officiis, omnis placeat quidem repudiandae sit tenetur vero voluptatum. Facilis, rem voluptas. Amet beatae debitis, eaque earum est eum exercitationem facere hic illo in iusto maiores maxime mollitia neque numquam odit placeat quasi quos sed sint sunt suscipit tempore ullam vel voluptatibus! Incidunt, modi, officia. Expedita in laboriosam maxime officia quia quisquam quod repellendus saepe suscipit temporibus.
    </div>

    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolorum excepturi incidunt officiis vel! Debitis doloremque eaque laudantium nemo sit! Animi consequatur ea ex illum laboriosam nihil quod similique veritatis.
    </div>

    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aliquam corporis distinctio eaque enim fugit laborum magnam neque nesciunt nostrum nulla officia officiis, omnis placeat quidem repudiandae sit tenetur vero voluptatum. Facilis, rem voluptas. Amet beatae debitis, eaque earum est eum exercitationem facere hic illo in iusto maiores maxime mollitia neque numquam odit placeat quasi quos sed sint sunt suscipit tempore ullam vel voluptatibus! Incidunt, modi, officia. Expedita in laboriosam maxime officia quia quisquam quod repellendus saepe suscipit temporibus.
    </div>

    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolorum excepturi incidunt officiis vel! Debitis doloremque eaque laudantium nemo sit! Animi consequatur ea ex illum laboriosam nihil quod similique veritatis.
    </div>
</div>
</body>
</html>